ErrorDocument 404 /404.html

RewriteEngine On
RewriteCond %{HTTP_HOST} ^saturn-music\.cf [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://saturn-music.cf [R,L]

RewriteCond %{QUERY_STRING} ^(.*)i=[^&]+(.*)$ [NC]
RewriteRule ^(.*)$ /$1?%1%2 [R=301,L]

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]